<nav class="navbar navbar-expand-lg bg-menu navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
    <img class="logo" src="/images/fbi_logo.svg" alt="Fbi logo">
    </a><span class="fw-bold text-white fs-1">FBI</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>