<h2 class="text-center">Hola <span class="fw-bold text-danger">{{email}}</span> Bienvenido a la página de administración</h2>
<p class="text-center"><a href="/"><button class="btn btn-primary w-10">Logout</button></a></p>