<div class="col-md-4 mx-auto">

    <h2 class="text-center"> Contact me</h2>
    <p class="fw-lighter">If you have any questions or comments, please don't hesitate to contact me.</p>

    <form action="/contact" method="POST">

    <div class="mb-3">
        <label class="form-label" for="name">Name:</label>
        <input class="form-control" type="text" name="name" id="name" placeholder="Ej. John Doe">
    </div>
    <div class="mb-3">
        <label class="form-label" for="email">Email:</label>
        <input class="form-control" type="text" name="email" id="email" placeholder="Ej. WcWp2@example.com">
    </div>
    <div class="mb-3">
        <label class="form-label" for="subject">Subject:</label>
        <input class="form-control" type="text" name="subject" id="subject" placeholder="Ej. WcWp2@example.com">
    </div>
    <div class="mb-3">
        <label class="form-label" for="message">Message:</label>
        <textarea class="form-control" name="message" id="message" rows="5"></textarea>
    </div>
    <div >
        <input class="btn btn-primary w-100" type="submit" value="Send">
    </div>
    
    </form>
</div>