<div class="col-md-4 mx-auto">
    <h2 class="text-center">Crea tu cuenta</h2>
    <form action="/register" method="POST">
    <div>
       
    </div>
    <div class="mb-3">
        <label class="form-label" for="name">Name</label>
        <input class="form-control" type="text" name="name" id="name" placeholder="Ej. John Doe""">
    </div>
    <div class="mb-3">
        <label class="form-label" for="email">Email</label>
        <input class="form-control" type="text" name="email" id="email" placeholder="Ej. WcWp2@example.com">
    </div>
    <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password" placeholder="Ej. ********">
    </div>
    <div class="mb-3">
        <label class="form-label" for="confirm_password">Confirm Password</label>
        <input class="form-control" type="password" name="confirm_password" id="confirm_password" placeholder="Ej. ********">
    </div>
    <div>
        <input class="btn btn-primary w-100" type="submit" value="Register">
    </div>
    
    </form>
</div>